a {
  color :#000;
  text-decoration: none;
}
body {
  background-color :beige;
}
.list a {
  color :green;
  font-size: 20px;
  font-weight: bold;
}
.box {
  /* 상자테두리 사이즈 */
  height: 1000px;
  /* 테두리 라운드 곡선 */
  /* 각테두리별도로 라운드주고 싶으면 각 입력 순서는 좌상->우상->우하->좌하 */
  /* 예 : 10px 10px 0 0 */
  border-radius: 10px;
}

.line-red {
  border : 5px solid red
  }

.line-blue {
  border : 5px solid blue
  }

.line-yellow {
  border : 5px solid yellow
  }
    
    
