a {
  color:#000;
  text-decoration: none;
}


body {
  background-color:antiquewhite;
}

.box {
  width:400px;  
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  /* text-align 기본값은 left */
  /* 속성으로 이미지도 정렬할수 있다 */
  /* text-align 속성으로 이미지 정렬할 때는 부모요소에게 적용 */
  text-align: center; 
}


.google {
  border: 4px solid blue;
  border-radius: 16px;

}

.naver {
  border: 4px solid green;
  border-radius: 16px;
}

img {
  width: 300px;
}

.text-bold {
  font-weight: 700;

}
.text-green {
  color: green;
}