
li {
  list-style: none;
}
.nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 30px;
  border: 4px solid 000;
  background-color: #000;
}
.logo {
  width: 80px;
}
.logo img {
  width: 80px;
}
.meun-list {
  display: flex;
  justify-content: end;
  color:#fff;
  margin: 20px 20px;

}
.back-img {
  height: 400px;
  background-image: url(./images/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.title1 {
  padding: 50px;
  color: #fff;
  text-align: center;
}
.title2 {
  color: #fff;
  text-align: center;
}
.box1{
  padding: 50px;
  margin: -50px auto;
  width: 500px;
  height: 15px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
