.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
body {
  font-family: "Do Hyeon", sans-serif;
}
.global-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  align-items: center;
  
}
.logo img {
  width: 100px;
}

.sm-only {
  display: none;
}

.gnb-list1 {
display: flex

}
.gnb-list1 li {
  margin-right: 20px;
}
.gnb-list1 li:last-child {
  margin-right: 0;
}
.gnb-list1 li a {
  font-weight: 700;
  transition: color 300ms;
}
.gnb-list1 li a:hover {
  color:blue;

}
.sidebar-open-btn {
  display: flex;
  justify-content: right;
  width: 90%;
  color: #000;
}

.back-img {
  background-image: url(./image/back.jpeg);
  height: 800px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-block-start: solid rgb(221, 169, 28);
  
}
.gnb-list2 {
  width: 100%;
  display: flex;
  justify-content: left;
  text-align: center;
  margin-top: 20px;
}
.gnb-list2 li {
  margin-left: 30px;
}
.gnb-list2 li a {
  font-weight: 700;
  transition: color 300ms;
  color: #fff;
}
.gnb-list2 li a:hover {
  color:blue;
}
.card-list {
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
  border-block-end: solid rgb(221, 169, 28);
}
.card-list img {
  width: 90%;
}
.card-list-burger {
  padding: 20px 12px;
  width: 28%;
  box-shadow: 5px 5px 5px #666;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
}
.card-list-burger p {
  font-weight: 700;
}
.back-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
  width: 90%;
}
.back-logo img {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  margin: 20px 30px;

}
.back-logo div p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 5px 30px;

}
.global-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;

}
.global-footer-list ul li{
  margin: 10px 10px 15px 0;
}
.global-footer-list ul li a{
  color: #fff;
}
.global-footer li a:hover {
  color:yellow;
}
.global-footer-list {
  margin-left: 20px;
}
.global-footer-logo {
  display: flex;
}
 .global-footer-logo ul {
  display: flex;
  justify-content: center;


 }
 .global-footer-logo li a {
  color: red;
  background-color: #fff;
  border-radius: 70px;
  padding: 20px 20px;
  margin: 10px 10px;
  width: 20px;
  font-size: 24px;

 }

 .search{
  background-color: gray;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-200%);
}

.search.is-active {
  transform: translate(-50%, -50%);
}

.search-item {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.whitebox {
  width: 900px;
  height: 50px;
  background-color: #fff;
  color: gray;
  border-radius: 50px;
}

.yellowbox {
  margin-left: 50px;
  width: 100px;
  height: 50px;
  background-color: yellow;
  color: black;
  border-radius: 50px;
 
}

.search-close-btn i {
  text-align: center;
  font-size: 30px;
  background-color: yellow;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  cursor: pointer;
  }


.sidebar {
  background-color: #fff;
  width: 300px;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-350px)
}

.sidebar.is-active {
  transform: translate(0)
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar-close-btn {
  text-align: right;
  font-size: 22px;
  cursor: pointer; 
}
