.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
li  {
  list-style: none;
}
input {
  border: none;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
body {
  font-family: "Do Hyeon", sans-serif;
}
.sm-only {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}
.gnb-list {
  display: flex;
  width: 250px;
  justify-content: space-between;
}
.logo img {
  width: 60px;
}
.gnb-list li a {
  font-weight: 700;
  transition: color 300ms ease-in-out;
}
.gnb-list li a:hover {
  color:rgb(235, 27, 27);
}
.search-btn{
  cursor: pointer;
}
.lnb {
  border-top: 2px solid rgb(225, 213, 23);
  background-color: rgb(235, 27, 27);
  position: sticky;
  left: 0;
  top:0;
}
.lnb-list {
  display: flex;
  padding: 20px 35px;
}
.lnb-list a {
  padding-right: 12px;
  color:#fff;
}
.back-img {
  background-image: url(./image/back.jpeg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 40px auto;
}
.menu-item {
  box-shadow: 5px 5px 5px #666;
  border-radius: 12px;
  overflow: hidden;
  width: calc((100% - 60px) /3);
  text-align: center;
  margin: 12px 0;
}
.menu-item a {
  transition: opacity 300ms ease-in-out;
}
.menu-item a:hover {
  opacity: 0.5;
}
.menu-item img {
  width: 100%;
}
.mac-story {
  position: sticky;
  left: 0;
  bottom: 0;
  border-top: 2px solid rgb(225, 213, 23);
  background-color: #fff;
  padding: 8px 0;
}
.mac-story-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 30%;
  margin: 0 auto;

}
.mac-story-list li img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
footer {
  background-color: rgb(235, 27, 27);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.footer-1 {
 margin-right: 20px; 
}
.text-yellow a {
  color: rgb(225, 213, 23);
}
footer ul li,
footer ul li  a{
  color: #fff;
}
.footer-info {
  flex-grow: 1;

}
.footer-link {
  display: flex;

}
.footer-link li {
  position: relative;
  background-color: #fff;
  width: 60px;
  height: 60px;
  margin: 0 8px;
  border-radius: 50%;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}
.footer-link li:hover {
  background-color: rgb(235, 27, 27);
}
.footer-link li i {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: rgb(235, 27, 27);
  transition: color 300ms ease-in-out;
}
.footer-link li:hover i {
  color: #fff;
}

.search {
  display: none;
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.search.is-open {
  display: block;
}

.search > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
.search-box{
  display: flex;
  width: 100%;
}
.search-box input {
  flex-grow: 1;
  margin-right: 20px;
  padding: 24px 40px;
  border-radius: 30px;
}
.search-box button {
  background-color: rgb(225, 213, 23);
  padding: 24px 40px;
  border-radius: 30px;
  font-weight: 700;
}
.search-close-btn {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color:rgb(225, 213, 23);
  margin-top: 50px;
  cursor: pointer;
}
.search-close-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

@media screen and (max-width : 1200px) {
  .menu-item {
    width: calc((100% - 30px) /2);
  }
  .mac-story-list {
    width: 50%;
  }
  .mac-story-list li img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width :768px) {
  .sm-only {
    display: block;
  }
  .sm-hidden {
    display: none;
  }
  .sidebar-open-btn {
    font-size: 24px;
    cursor: pointer;
  }
  .menu-item {
    width: 100%
  }
  footer {
    flex-wrap: wrap;
  }

  .footer-info {
    text-align: right;
  
  }
  .footer-link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
  
  }
  .sidebar {
    transform: translateX(-200px);
    position: fixed;
    left: 0;
    top:0;
    background-color: #fff;
    width: 200px;
    height: 100%;
    padding: 30px;
    z-index: 100;
    transition: transform 300ms ease-in-out;
  

  }
  .sidebar.active {
    transform: translateX(0);
 
  }
  .overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms ease-in-out;
  }
  .overlay.active{
    visibility: visible;
    opacity: 1;
  }
}