a {
    color: #000;
}
body {
    
}

.head {
    display: flex;
    width: 500px;
    height: 100px;
    background-color: aqua;
}
.left {
    display: flex;
    width: 150px;
    height: 200px;
    background-color: bisque;
}
.right {
    display: flex;
    width: 350px;
    height: 200px;
    justify-content: left;
    flex-direction: left;
    text-align: left;
    background-color: brown;
}
.fooder {
    display: flex;
    width: 500px;
    height: 100px;
    background-color: yellow;
}