*{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#000;
}

.global-header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.logo img {
  width: 60px;
}

.gnb-list {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.gnb-list li a {
  color: #fff;
  font-weight: 700;
  padding: 0 15px;
}

.gnb-list li a:hover {
  color:dodgerblue;
  text-decoration: underline;
}

.back-img{
  background-image: url(../실습2/images/back.jpeg);
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  color:#fff;
}

.back-text p,
.back-text button {
  margin-top: 20px;
}

.back-text p{
  font-size: 18px;
}

.back-text button {
  padding: 12px;
  border-radius: 10px;
}

.second-box {
  background-color: #000;
  border-radius: 20px;
  margin: -65px auto 0 auto;
  padding: 40px 36px;
  width: 500px;
  color:#fff;
  text-align: center;
}

.second-box p {
  margin-top: 24px;
}

.card-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-top: 80px;

}

.card-list div {
  width: 300px;
  margin: 0 20px;
  padding: 50px 16px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 20px;

}

.card-list div p {
  margin-top: 20px;

}

.global-footer {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 12px 20px;
  color:#fff;
}
.footer-link {
  display: flex;

}
.footer-link a {
  padding: 0 12px;
  color: #fff;
}


@media screen and (max-width :768px) {
  .card-list {
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 20px 20px;
    padding: 20px 0;
    margin-top: 50px;
  }
  .card-list div {
    width: 300px;
    margin: 20px 20px;
    padding: 50px 16px;

  
  }
  

  
} 
