a {
    color:#000;
}
body{
    background-color: #000;
    text-align: center;
}
.box {
    width: 400px;
    text-align: center;
    padding:15px;
    margin:30px auto;
    text-align: center;
   
}
.page {
    background-color: #fff;
    padding:15px;
    border-radius: 45px;
    margin:20px;
}
.text-bold {
    font-weight: 700;
}
