*{
    margin: 0;
    padding: 0;
    }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .head {
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
  
  }
  .snoopy img {
    width: 50px;
  }
  
  .menu-list {
    display: flex;
    width: 250px;
    justify-content: space-between;
    color: #fff;
  }
  
  .back-img{
    background-image: url(./image/스누피배경.jpeg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .back-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 600px;
    color: #fff;
  
  }
  .back-text p,
  .back-text button {
    margin-top: 20px;
  }
  .back-text p{
    font-size: 18px;
  }
  .back-text button {
    padding: 12px;
    border-radius: 10px;
    margin: 50px auto;
  }
  .fix-box{
    font-size: large;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 10px; 
    width: 150px;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .fix-box div {
    padding: 5px 10px
  }
  .card-list{
    display: flex;
    justify-content: center;
    margin-top: 80px;
  
  }
  .card-list div {
    width: 300px;
    margin: 0 20px;
    padding: 50px 16px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(217, 241, 254);
  
  }
  .card-list div p{
    margin-top: 20px;
  }
  
  .scroll {
    height: 150px;
  
  }
  .bg-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(217, 241, 254);
    height: 800px;
    position: relative;
  
  }
  .bg-box div {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    
  }
  .bg-img1 {
    padding: 30px 30px 30px 30px;
    position:absolute;
    top:50%;
    left: 35%;
    transform: translate(-60%, -50%);
    width: 300px;
    height: 338px;
    background-color: #fff;
    background-image: url(./image/pngegg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
  }
  
  .bg-img2 {
    padding: 30px 30px 30px 30px;
    position:absolute;
    top:50%;
    left: 35%;
    transform: translate(50%, -50%);
    width: 300px;
    height: 338px;
    background-color: #fff;
    background-image: url(./image/스누피2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .footer {
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    color:#fff;
  }
  .footer-link {
    display: flex;
  
  }
  .footer-link a {
    padding: 0 12px;
    color: #fff;
  }
  
  
  @media screen and (max-width : 1200px) {
    .card-list{
      flex-direction: column;
      align-items: center;
      margin-top: 50px;

    }
    .card-list div {
      width: 700px;
      margin: 20px 20px;
      padding: 50px 16px;

    }
    .bg-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(217, 241, 254);
        position: relative;
    }
    .bg-box div {
        width: 600px;

      }
    .bg-img1 {
  
        display: inline-block;
        align-items: center;
        position:absolute;
        left: 35%;
        transform: translate(-30%, -50%);
        background-color: transparent;
      
      }
      
    .bg-img2 {
     padding: 0 auto;    
     background-image: url(./image/pngegg.png);
     transform: translate(-30%, -50%);
     background-color: transparent;
    
      }
  }
  @media screen and (max-width : 768px) {
    .card-list div {
        width: 500px;
        height: 200px;
        margin: 10px 10px;
        padding: 30px 16px;
  
      }
      .footer {
        flex-direction: column;
        align-items: center;
 

      }
      .footer-link a {
        padding: 20px auto;
        margin-top: 20px;

      }
      
    
  } 
  
