a{
  color:#000;
}
.wrapper {
  width: 90%;
  font-size: 36px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;

}
.header{
  width: 100%;
  background-color: antiquewhite;
  height:100px;

}
.left-box{
  width: 20%;
  height: 500px;
  background-color:cornflowerblue;
}
.right {
  
  width: 80%;
  height: 500px;
  background-color: coral;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: lightgreen;
}